/* Reset styles */
* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

/* Global styles */
body {
  background-color: black;
}

/* Layout */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.window {
  width: 28rem;
  max-width: 450px;
  height: 96vh;
  background-color: #fffcfc;
  box-shadow: 0 0 12px rgba(243, 146, 146, 0.6);
  border-radius: 13px;
  overflow-y: auto;
  border: 7px solid white;
  /* padding-bottom: 20px; */
}

/* Scroll bar */
.window::-webkit-scrollbar {
  width: 2px;
  /* width: 0px; */
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.window::-webkit-scrollbar-track {
  background: #f7d2d2;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.window::-webkit-scrollbar-thumb {
  background: rgb(255, 90, 90);
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.window::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 39, 39);
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  box-shadow: 0 1px 8px rgba(158, 118, 118, 0.5);
  background: rgb(255, 90, 90);
  color: black;
}

.nav-logo {
  width: 23px;
  max-width: 100px;
  margin-left: 14px;
  margin: auto 7px;
}
.nav-title {
  font-size: 13.5px;
  font-weight: 100;
}

/* cards  */
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  width: 100%;
  padding: 20px 30px;
  height: 190px;
  position: relative;
}
.card::after {
  content: "";
  position: absolute;
  height: 1px;
  opacity: v0.2;
  width: 80%;
  align-self: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: gray;
}
.card:first-child {
  margin-top: 20px;
}
.card:last-child {
  margin-bottom: 20px;
}
.card:last-child::after {
  display: none;
}
.card-thumbnail {
  width: 32%;
  object-fit: cover;
  object-position: bottom center;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 0px gray;
  margin-right: 10px;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.location {
  font-size: 11px;
}
.location > img {
  width: 10px;
}
.location > span {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: auto 5px;
  font-weight: 600;
}
.location > a {
  font-size: 10px;
  color: black;
  opacity: 0.7;
}
.data > h1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 10px;
}
.date {
  font-size: 11px;
  font-weight: bolder;
  margin-bottom: 5px;
}
.description {
  font-size: 11px;
  text-align: justify;
}
